.logo__cursor {    
    background: #00a4f8
}

:root {
  /* light theme color */
  --light-background: #fff;
  --light-background-secondary: #eaeaea;
  --light-color: #222;
  --light-color-secondary: #999;
  --light-border-color: #dcdcdc;
  /* dark theme colors */
  --dark-background: #252628;
  --dark-background-secondary: #252628;
  --dark-color: #FFFFFF;
  --dark-color-secondary: #73747b;
  --dark-border-color: #4a4b50;
}

.post-cover{
  border-radius: 8px;
  margin: 10px 40px;  
  width: 70%;
  max-width: 70%;  
}

video {
  max-width: 100%;
  height: auto;
}

canvas { 
  width: 200px;
  height: 100px;
}

.post-title {
  font-size: 2rem;
  margin: 0 0 20px;

  @media (--phone) {
    font-size: 0.6rem;
  }

  a {
    text-decoration: none;
  }
}

.alignt-center{
  text-align: center;
}

.post-cover {
  box-shadow: 0 12px 40px rgba(0,0,0,.10) !important;
}

a.button-tag,a.button-tag:active,a.button-tag:hover{
  display:inline-flex;
  background:none;
  box-shadow:none;
  padding:0;
  margin:20px 0;
  background-color: #dddddd;
  border-radius: 5px;  
  font-size: 14px;
  padding: 4px;
  
}


.float{
	position: fixed;
	width:40px;
	height:40px;
	bottom:30px;
	right:30px;
  text-align:center;
  text-decoration: none;
  
}

.my-float{
  margin-top:22px;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.float > .fa{
  background-color: #dddddd !important;
  padding: 12px;
  border-radius: 5px;
}