html{
  background-color: #333 !important;
}
.logo__cursor {    
    background: #00a4f8;
}

:root {
  /*--dark-background: #1b1b1b;*/
  --dark-background: #282828 !important;
  /*background-color:#282828*/
  --dark-background-secondary:#414141 !important;
  --dark-color: #FFFFFF !important;
  --dark-color-secondary: #73747b !important;
  --dark-border-color: #4a4b50 !important;
}

video {
  max-width: 100%;
  height: auto;
}

canvas { 
  width: 200px;
  height: 100px;
}

.posts{
  width: 100%;

}

.post-cover{
  border-radius: 8px;
  margin: 10px 40px;  
  width: 60%;
  max-width: 60%;  
}

/*Imagen de Portada en Telefonos */
@media only screen and (max-width: 600px) {
  .post-cover {
    border-radius: 8px;
    margin: 10px 40px;
    width: 100%;
    max-width: 100%;
  }
}

.post-meta{
  color: #c2c2c2;
}

.post-title {
  font-size: 1.6rem;
  margin: 0 0 20px;
  color:#f3f3f3;

  @media (--phone) {
    font-size: 0.5rem;
  }

  a {
    text-decoration: none;
  }
}

.post-title a:hover {
  text-decoration: underline #00a4f8 !important;
}

.logo__text{
  font-size: 1rem;
}

.post-meta {
  font-size: 0.92rem;
}
.post-cover {
  box-shadow: 0 12px 40px rgba(0,0,0,.10) !important;
}

.alignt-center{
  text-align: center;
}
.post-tags{
  color:white !important;
  opacity: 100%;
}


/*.post {
  max-width: 1000px !important;
}*/

/*TAGS*/
.button-tag a{
  color:white !important;
}
a.button-tag,a.button-tag:active,a.button-tag:hover{
  /*display:inline-flex;*/
  background:none;
  box-shadow:none;
  padding:0;
  margin:20px 0;
  background-color: #0097e4;
  color: white !important;
  border-radius: 5px;  
  font-size: 14px;
  padding: 4px;
  
}

.read-more{
  text-decoration: none;
}
/*button, .button{  
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  margin-bottom: 5px;
  background: var(--dark-background-secondary);
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid transparent;
  appearance: none;
  cursor: pointer;
  outline: none;
}*/


.float{
	position: fixed;
	width:40px;
	height:40px;
	bottom:30px;
	right:30px;
  text-align:center;
  text-decoration: none;
  
}

.my-float{
  margin-top:22px;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.float > .fa{
  /*background-color: #dddddd !important;*/
  padding: 12px;
  border-radius: 5px;
}

/*FONT SIZE*/
h2 {
  /*font-size: 1.625rem;*/
  font-size: 1.325rem;
}

h3 {
  font-size: 1.175rem;
}

h4 {
  font-size: 1.05rem;
}
.menu{
  border-right: 0px solid;
}
/*header*/
.dark-theme .header{
  padding: 10px !important;
  border-bottom: 3px solid #414141 !important;
  /*background-color:#282828;*/
  background-color:#1b1b1b !important;
  box-shadow: 0 12px 40px rgba(0, 0, 0, .14) !important;
}

.header{
  padding: 10px !important;
  border-bottom: 3px solid #414141 !important;
  /*background-color:#282828;*/
  background-color:#1b1b1b !important;
  box-shadow: 0 12px 40px rgba(0, 0, 0, .14) !important;
}

.footer{
  color: white !important;
  padding: 30px 10px !important;
  background-color:#1b1b1b !important;
  border-top: 3px solid #414141 !important;
  background-color:#1b1b1b !important;
  box-shadow: 10px 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
}

/*footer*/
.dark-theme .footer{
  border-top: 3px solid #414141;
  background-color:#1b1b1b;
  box-shadow: 10px 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.dark-theme .button {
  background: #1b1b1b;
}

.button {
  background: #1b1b1b !important;
}
/*HEADER MENUS*/

.menu a {
  /*font-weight: bold;*/
}

/*CONTENT SPACE TOP*/
.content {
  margin: 10px 0;
}

/*Tabla de contenido*/

#TableOfContents ul>li{
  list-style: none;  
}

#TableOfContents a:link {
  text-decoration: none;
}

#TableOfContents a:visited {
  text-decoration: none;
}

#TableOfContents a:hover {
  text-decoration: underline;
}

#TableOfContents a:active {
  text-decoration: underline;
}